#calender-page-div{
    margin: auto;
    margin-top: 3vw;
    width: 60vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#container-all-ater-calender{
    margin: auto;
    margin-top: 3vw;
    width: 60vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.divcheckbox{
    display: flex;
}
#filternavbar-calander{
    display: flex;
}