@media screen and (min-width: 600px) {
    .object-parts{
        font-size: 18px;
  }
  .cardofshift-container{
    width: 540px;
    height: 28px;
  }
  .button-incard{
    width: 92px;
    height: 26px;
    font-size: 18px;
    padding: 0.5;
  }
}

.cardofshift-container{
    display: flex;
    justify-content: space-around;
    width: 90%;
    align-self: center;
    margin: 3px;
    background-color: rgb(89, 108, 251);
    border-radius: 10px;
    padding: 1px;
    align-items: center;
    max-width: 600px;
}
.cardofshift-div{
    font-size: 1.5vw;
    background: linear-gradient(180deg, rgb(214, 226, 255) 0%, rgb(182, 173, 255) 100%);
    border-radius: 20px;
    padding: 2vw;
    box-shadow: 0px 0px 6px 1px #3b66ff;
    transition: 0.6s;
}
.cardofshift-div:hover{
    box-shadow: 0px 0px 6px 3px #0b9a14;
}
.object-parts{
    font-size: 3vw;
    color: white;
}
.dateoftheshift-div{
    font-weight: bold;
}
.button-incard{
    background-color: white;
    color: rgb(89, 108, 251);
    border-radius: 5px;
    padding: 1px;
}