#login-container{
    background-color: white;
    width: 100%;
    display: flex; 
    justify-content: center;  
}
#login-inner{
   /* display:flex;
   justify-content: space-evenly;
   flex-direction: column;
   width: 60%;
   background-color: rgb(89, 108, 251);
   margin: 40px;
   padding: 15px;
   height: 400px;
   align-items: center;
   border-radius: 15px;
   color: white; */
   display: flex;
  justify-content: center;
  align-items: center;
  min-height: 350px;
  width: 40vw;
  height: 40vw;
  flex-direction: column;
  gap: 35px;
  background: linear-gradient(180deg, rgb(186, 207, 255) 0%, rgb(177, 166, 255)100%);
  box-shadow: 16px 16px 32px #c8c8c8,
        -16px -16px 32px #fefefe;
  border-radius: 8px;
    margin-top: 3vw;
}
#login-tittle{
   text-align: center;
   color: #000;
    text-transform: uppercase;
    letter-spacing: 0.1vw;
    display: block;
    font-weight: bold;
    font-size: 2vw;
}
#login-btn{
    width: 13vw;
    color: rgb(11, 4, 62);
    border-radius: 5px;
    background: linear-gradient(180deg, rgb(186, 207, 255) 0%, rgb(177, 166, 255)100%);
    padding: 2px;
    font-size: 1.5vw;
    transition: 0.5s ease;
}
#login-btn:hover{
    color: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgb(110, 154, 255) 0%, rgb(49, 34, 164)100%);
}

.login-input{
    /* border-radius: 10px;
    color: rgb(89, 108, 251);
    width: 150px;
    border: white solid;
    border-radius: 5px;
    margin-left: 3px; */
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    color: #000;
    font-size: 1em;
    background: transparent;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
    transition: 0.1s;
    border-bottom-left-radius: 8px;
}
@media screen and (max-width:450px) {
   #login-btn{
    width: 75px;
   }
   .login-input{
    width: 150px;
   }
   #login-inner{
    width: 75%;
   }
}
.login-div{
    display: flex;
    align-items: center;
    margin: 2vw;
    position: relative;

}
#divofsubmit-btn{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.user{
    margin-top: 5px;
  position: absolute;
  transform: translateX(3vw) translateY(-0.4vw);
  margin-left: 10px;
  padding: 10px;
  pointer-events: none;
  font-size: 1vw;
  color: #000;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 3px;
  border-radius: 8px;
}
.login-div input:focus~span{
    transform: translateX(9vw) translateY(-1.5vw);
    font-size: 0.5vw;
    padding: 5px 10px;
    background: #000;
    letter-spacing: 0.2em;
    color: #fff;
    border: 2px;
  }
.login-div input::placeholder~span{
    transform: translateX(9vw) translateY(-1.5vw);
    font-size: 0.5vw;
    padding: 5px 10px;
    background: #000;
    letter-spacing: 0.2em;
    color: #fff;
    border: 2px;
}
#credit-card-container{
    position: absolute;
    top: 45vw;
    left: 24vw;
    padding-bottom: 5vw;
}
#buymembership-button{
    border-radius: 15px;
    border: 0;
    background-color: antiquewhite;
    padding: 1vw;
    cursor: pointer;
}
.submit-card-input{
    border: 1px solid black;
    margin: 1vw;
    padding: 2vw;
    border-radius: 15px;
    background: linear-gradient(180deg, rgb(186, 207, 255) 0%, rgb(177, 166, 255)100%);
}
.submit-card-button{
    border: 1px solid black;
    margin: 1vw;
    padding: 1vw;
    border-radius: 15px;
    background: linear-gradient(180deg, rgb(233, 243, 126) 0%, rgb(255, 255, 106)100%);
    margin-left: 8vw;
    cursor: pointer;
}
.creditcard-styling-container{
    display: flex;
    align-items: center;
    flex-direction: row;
}
