#shifts-page-header{
    font-size: 5vw;
    display: flex;
    justify-content: center;
    margin-bottom: 5vw;
}
.cardofshift-div{
    margin: 5vw;
}
#thisWeeksShifts-div{
    display: flex;
    align-items: center;
    justify-content: center;
}